<div class="page">
  <div class="card">
    <div class="head">
      <h2>Agregar persona</h2>
      <p>Crear usuario para el sistema de PuntoVenta</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <div class="grid">
        <label class="field">
          <span>Nombre</span>
          <input type="text" formControlName="nombre" placeholder="Nombre completo" />
          <small *ngIf="form.controls.nombre.touched && form.controls.nombre.invalid">
            Nombre requerido (mínimo 3 caracteres)
          </small>
        </label>

        <label class="field">
          <span>Email</span>
          <input type="email" formControlName="email" placeholder="correo@ejemplo.com" />
          <small *ngIf="form.controls.email.touched && form.controls.email.invalid">
            Email válido requerido
          </small>
        </label>

        <label class="field">
          <span>Fecha nacimiento</span>
          <input type="date" formControlName="fecha_nacimiento" />
        </label>

        <label class="field">
          <span>Rol</span>
          <select formControlName="rol">
            <option *ngFor="let r of roles" [value]="r.value">{{ r.label }}</option>
          </select>
        </label>

        <label class="field">
          <span>Activo</span>
          <select formControlName="activo">
            <option [ngValue]="true">Sí</option>
            <option [ngValue]="false">No</option>
          </select>
        </label>

        <label class="field">
          <span>Contraseña </span>
          <input type="text" formControlName="password" placeholder="Temporal123!" />
        </label>
      </div>

      <div class="alerts" *ngIf="error || okMsg">
        <div class="alert danger" *ngIf="error">{{ error }}</div>
        <div class="alert ok" *ngIf="okMsg">{{ okMsg }}</div>
      </div>

      <div class="actions">
        <button type="button" class="btn ghost" (click)="cancelar()" [disabled]="loading">
          Cancelar
        </button>

        <button type="submit" class="btn primary" [disabled]="loading">
          <span *ngIf="!loading">Guardar</span>
          <span *ngIf="loading">Guardando...</span>
        </button>
      </div>
    </form>
  </div>
</div>